.loading-icon{
  height: 100vh;
  display: grid;
  place-content: center;
}

.principal{
  height: 500px;
  background-image: url(../public/imagenes/pexels-maksim-goncharenok-5609766.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.principal h2{
    font-size: 25px;
    width: 30%;
    /* background-color: rgba(100,100,100,0.5); */
    text-transform: uppercase;
    color: white;
    line-height: 2;
    margin: 0;
    margin-bottom: 20px;
}

.principal a{
  align-self: flex-start;
}

.productos{
  padding: 20px;
}
.card-img-top{
  padding: 10px;
}

.titulo-editar{
  border-bottom:2px solid #A0C49D;
  padding-bottom: 5px;
}

footer{

}

